.nodes-table {
  --column-color: var(--grayMedium);
  --indent-level: 0;

  margin-top: 1em;
  border-spacing: 0;
  position: relative;
  width: 100%;

  th {
    padding: 0.5em;
    position: sticky;
    top: 40px;
    user-select: none;
    background: var(--grayDark);
    border-bottom: 1px solid var(--grayDark);
    z-index: 1;
  }

  td {
    padding: 0 0.5em;
    border-top: 1px solid var(--grayDark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--column-color);
    min-height: 40px;
  }
}
