#nodes-table {
  --column-color: var(--grayMedium);
  --indent-level: 0;

  margin-top: 1em;
  border-spacing: 0;
  position: relative;
  width: 100%;

  th {
    padding: 0.5em;
    position: sticky;
    top: 40px;
    user-select: none;
    background: var(--grayDark);
    border-bottom: 1px solid var(--grayDark);
    z-index: 1;
  }

  td {
    padding: 0 0.5em;
    border-top: 1px solid var(--grayDark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--column-color);
    min-height: 40px;
  }
  .breadcrumb {
    font-size: 0.8em;
  }
}

.node-type-column {
  padding: 0 0.5ch;
  text-align: center;
  width: 20px;

  > * {
    width: 20px !important;
  }
}

.neos button.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  color: var(--textOnGray);
  font-family: inherit;
}
/**
 * Popover styles
 */
[popover] {
  /* Undo css reset */
  margin: auto;

  /* Component styles */
  color: white;
  background: var(--grayDark);
  border: 1px solid var(--grayLight);
  padding: 0;
  border-radius: 0;
  outline: none;
}

[popover]::backdrop {
  backdrop-filter: blur(3px);
}

[popover] {
  header {
    font-size: calc(var(--generalFontSize) + 2px);
    margin: var(--defaultMargin);
    line-height: calc(var(--generalFontSize) + 4px);
    box-sizing: border-box;
  }

  section {
    margin: var(--defaultMargin);
    color: var(--textSubtleLight);
  }

  form {
    width: 400px;
    max-width: 90vw;
  }

  .neos-close {
    color: white;
    font-size: calc(var(--generalFontSize) + 4px);
    background: transparent;
    width: var(--unit);
    height: var(--unit);
    position: absolute;
    right: 0;
    top: 0;
    border-left: none;
    text-shadow: none;
  }

  footer {
    background: transparent;
    margin: var(--defaultMargin);
    display: flex;
    gap: var(--spacing-Full);
    justify-content: flex-end;
  }

  &.error {
    border: 1px solid var(--warning);

    .neos-header i {
      color: var(--orange);
    }

    p {
      margin: var(--defaultMargin) 0;
    }
  }

  &.success {
    border: 1px solid var(--green);

    p {
      margin: var(--defaultMargin) 0;
    }
  }

  details[open] {
    max-height: 50vh;
    overflow: auto;
    max-width: max-content;
  }
}
